
<div class="container">
  <div class="row">
    <div class="card-wrapper col">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="http://i3.ytimg.com/vi/XilYj8Ia-Tk/hqdefault.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment Special</h5>
          <div class="card-content">
            <p class="card-text">
			 <iframe src="https://www.youtube.com/embed/hj3_QTxFIs0?controls=0" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            <a href="https://youtu.be/hj3_QTxFIs0" class="btn btn-primary">Play Video</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-wrapper col">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="http://i3.ytimg.com/vi/94Kn7f9E_WE/hqdefault.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment Special title treatment</h5>
          <iframe src="https://www.youtube.com/embed/hj3_QTxFIs0?controls=0" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            <a href="https://youtu.be/hj3_QTxFIs0" class="btn btn-primary">Play Video</a>
        </div>
      </div>
    </div>

 	<div class="card-wrapper col">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="http://i3.ytimg.com/vi/Gb5tFOG_DKw/hqdefault.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment Special title treatment</h5>
          <iframe src="https://www.youtube.com/embed/hj3_QTxFIs0?controls=0" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            <a href="https://youtu.be/hj3_QTxFIs0" class="btn btn-primary">Play Video</a>
        </div>
      </div>
    </div>
	<div class="row">
    <div class="card-wrapper col">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="http://i3.ytimg.com/vi/428pfSyGG4U/hqdefault.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment Special</h5>
          <div class="card-content">
            <iframe src="https://www.youtube.com/embed/hj3_QTxFIs0?controls=0" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            <a href="https://youtu.be/hj3_QTxFIs0" class="btn btn-primary">Play Video</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-wrapper col">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="http://i3.ytimg.com/vi/bZ8_M5ig9Lo/hqdefault.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment Special title treatment</h5>
          <iframe src="https://www.youtube.com/embed/hj3_QTxFIs0?controls=0" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            <a href="https://youtu.be/hj3_QTxFIs0" class="btn btn-primary">Play Video</a>
        </div>
      </div>
    </div>

 	<div class="card-wrapper col">
      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="http://i3.ytimg.com/vi/dUKh7-3aaC0/hqdefault.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">The Meselson-Stahl experimental design</h5>
          <p class="card-text">1. E. coli bacteria are cultured in a medium rich in 15N, a heavy isotope of nitrogen. As the colony grows and replication occurs, new DNA incorporates the heavy isotope.</p>
		  <p>2.After many generations, the colonies are transferred to a medium containing only 14N, a lighter isotope, and allowed to grow and replicate DNA.</p>
		  <p>3. At specific time intervals, bacterial DNA is extracted from the culture, placed in solution with cesium chloride (CsCl), and spun in an ultracentrifuge.</p>
		  <p>4. Once removed from the centrifuge, the vials are placed under UV lights in order to observe bands of DNA</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>

